/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .extra h1 {
      font-size: 32px;
      width: 30ch;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .header-right {
      display: none;
    }
    
    .extra h1 {
      font-size: 26px;
      line-height: 36px;
      margin-left: 3%;
    }
  }