/* Untuk Tablet */
@media all and (max-width: 1000px) {
    .extra h1 {
      font-size: 32px;
      width: 30ch;
    }
    .card {
      width: 50%;
      display: inline-block;
      text-align: center;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
    .header-right {
      display: none;
    }

    .extra h1 {
      font-size: 26px;
      line-height: 36px;
      margin-left: 3%;
    }
    .card {
      width: 100%;
      text-align: center;
    }
  }
