html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Garamond";
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.extra {
  padding: 180px 0 300px 0;
  background-image: url("assets/bg-1.jpg");
  background-size: cover;
  color: white;
  
  margin: 0 auto;
}

.extra h1 {
  text-align: center;
  opacity: 0.9;
  font-size: 70px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-top: 30px;
  animation: type 3s steps(18);
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid white;
  width: 26ch;
}

@keyframes type {
  0% {
    width: 0ch;
  }

  100% {
    width: 28ch;
  }
}

.extra p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.profil {
  font-size: 18px;
  float: left;
  width: auto;
  text-align: center;
}
.profil p{
  font-size: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: bold;
  animation-name: rubberBand;
  animation-duration: 3s;
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.card {
  float: left;
  width: 20%;
  text-align: center;
}
.card p{
  color: grey;
  font-size: 18px;
}
.socmed {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}


.socmed:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.socmed: hover {
  opacity: 1;
}
.fa-envelope {
  background: #999999;
}
.fa-linkedin {
  background: #999999;
}
.fa-facebook {
  background: #999999;
}
.fa-twitter {
  background: #999999;
}

.fa {
  padding: 5px;
  width: 30px;
  border-radius: 20%;
}

/* Typewriter*/
.footer-logo {
  float:left;
  font-size: 25px;
  padding:30px;
  
}
.footer-list li {
  list-style: none;
  float:left;
  padding: 40px;
 
  font-size: 12px;
}

/**transparan footer-list **/
.message:hover {
  color: #FF0000;
  cursor: pointer;
}
.footer-bawah {
  padding: 40px;
}
.content-bawah {
  text-align:center;
  border-top: 2px solid #dee7ec;
  border-bottom: 2px solid #dee7ec;
  font-size: 15px;
  padding: 15px;
}

/**transparan footer bawah**/
span:hover {
  color: #FF0000;
  cursor: pointer;
}
